<header class="header-login-signup">

	<div class="header-limiter">

		<h1><a href="#">Item<span>Rental</span></a></h1>

		<nav>
			<a
			routerLink="/"
			routerLinkActive="selected"
			[routerLinkActiveOptions]="{ exact: true }">Home</a>
			<a >Blog</a>
			<a href="#">Pricing</a>
		</nav>

		<ul>
			<li><a *ngIf="!auth.loggedIn" (click)="auth.login()">Log In</a></li>
			<li><span *ngIf="auth.loggedIn"> {{auth.userProfile?.name}} 
					<span class="opacity-half">|</span>
					<a (click)="auth.logout()">Log Out</a>
				</span>
			</li>
		</ul>

	</div>

</header>